{"openapi":"3.1.0","info":{"title":"Sirenic API","version":"1.0.0","description":"French & European company data, pay-per-call in USDC or EURC via the x402 protocol — or with an API key and prepaid credits (1 credit = 1 EUR, same per-call prices, no wallet). France in depth plus European search & profiles (BE, CH, UK, NO, EE, LV, CZ, SK, FI, PL), Spanish BORME registry acts (ES, by hoja), Belgian, Finnish and Norwegian annual accounts, and large groups worldwide via LEI/GLEIF. Source: INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr (Etalab 2.0). Payment: x402, network eip155:8453, assets USDC 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913 or EURC 0x60a3E35Cc302bFA44Cb288Bc5a4F316Fdb1adb42 (same numeric amount in either). API key: send X-Api-Key: srn_live_… (or Authorization: Bearer srn_live_…) on any /v1 call; the response carries X-Credits-Charged and X-Credits-Remaining. Create an account and keys at /compte. A signed x402 payment always takes precedence over a key. Toute réponse non-2xx (400, 402, 404, 5xx) n'est jamais facturée : le paiement x402 est annulé avant règlement — le transfert n'a pas lieu, il n'y a donc rien à rembourser. / Any non-2xx response is never charged: the x402 payment is cancelled before settlement — the transfer never happens, so there is nothing to refund.","contact":{"email":"contact@sirenic.eu"},"license":{"name":"Data: Licence Ouverte / Open License Etalab 2.0","url":"https://www.etalab.gouv.fr/licence-ouverte-open-licence/"}},"servers":[{"url":"https://api.sirenic.eu"}],"components":{"responses":{"Reponse400InvalidInput":{"description":"Invalid input. Body: {error, champ, message}. Never charged. / Jamais facturé."},"Reponse402PaymentRequired":{"description":"Payment required — x402 payment requirements in body (JSON) and headers."},"Reponse503LocalRegister":{"description":"Local register not yet collected (`collecte_en_cours`), or its snapshot older than that country's freshness threshold (`photo_perimee` — Sweden: 21 days, matching the guard on Swedish events). A stale snapshot cannot assert a company's current status. Payment not settled; retrying does not help."},"Reponse200UnifiedJson":{"description":"Same unified JSON schema as /v1/eu/entreprise/{pays}/{id} (see its response example): identity, legal form, normalized status, creation date, head office, VAT, LEI, official register link, data freshness."}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-Api-Key","description":"Sirenic API key (srn_live_…) paying with prepaid credits (1 credit = 1 EUR, same prices as x402). Credits expire 12 months after purchase; calls are charged first to the credits closest to expiry. Optional: without it, the same routes answer 402 with a signable x402 quote. Insufficient balance → 402 {error: credits_insuffisants} WITHOUT a PAYMENT-REQUIRED header. Get a key at /compte."},"BearerAuth":{"type":"http","scheme":"bearer","description":"The same srn_live_… API key sent as Authorization: Bearer. A bearer value that is not an srn_ key is ignored (x402 flow unchanged)."}}},"security":[{},{"ApiKeyAuth":[]},{"BearerAuth":[]}],"paths":{"/v1/recherche":{"get":{"summary":"Search French companies by name or SIREN (top 10)","description":"French company search and company lookup by name or SIREN in the official French company registry (INSEE Sirene / INPI RNE open data). Name search returns the top 10 matches with identity, SIREN, NAF code, city and active/ceased status, plus a score_confiance (0-1 match confidence) that helps disambiguate homonyms. The entry point to official data and company data on France: resolve a trading name to its SIREN identifier before pulling the full company profile, filings or financials.","x-price":"$0.002","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"example":"danone","description":"Company name, or a French identifier (SIREN, SIRET, VAT) — spaced or labelled (\"SIREN : 552 032 534\") resolves directly. Unsupported characters are stripped, not rejected; 400 only if nothing searchable is left (1-100 chars once cleaned)."}],"responses":{"200":{"description":"Top 10 matches with identity, SIREN, NAF, city, status and score_confiance (0-1 match confidence). When no result actually resembles the query (best confidence < 0.5), the body carries aucune_correspondance_fiable: true and a bilingual note_correspondance — the registry's closest guesses are still listed, but they are not the company you asked for. Served from the local Sirene index; if an index stage is abandoned (time budget exceeded or query error), the call falls back to the real-time registry API (data_freshness says so). Only when that fallback fails too is a partial answer served — flagged by resultats_partiels: true and the abandoned stage named in etages_abandonnes (always present; empty array = complete top 10). A degraded answer is never sold as complete.","content":{"application/json":{"example":{"total_results":10,"resultats":[{"siren":"552032534","denomination":"DANONE","statut_diffusion":"totale","etat_administratif":"actif","activite_principale":"70.10Z","commune_siege":"PARIS","code_postal_siege":"75009","score_confiance":1}],"source":"INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr, licence ouverte Etalab 2.0","disclaimer":"Données issues de l'open data, fournies en l'état sans garantie. / Open data, provided as is without warranty.","etages_abandonnes":[],"data_freshness":"stock Sirene mensuel (2026-08-01), dirigeants temps réel"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"The local index was degraded (a stage abandoned under its time budget or on a query error) and returned nothing, AND the real-time registry is unavailable (error: recherche_indisponible) — or the local stock is absent and the registry is down (error: amont_indisponible). Nothing is charged, retry in a few seconds."}}}},"/v1/entreprise/{siren}":{"get":{"summary":"Full company profile by SIREN","description":"Full French company profile by SIREN: official company data from the French company registry (INSEE Sirene / INPI RNE). One company lookup returns legal name, legal form, head-office address, NAF code, workforce bracket, creation date, active or ceased status, officers with name and role, collective agreement and the computed intra-EU VAT number. The core KYB building block for verifying a French counterparty: registry facts for due diligence, compliance and onboarding checks.","x-price":"$0.005","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"552032534","description":"9-digit SIREN (Luhn-validated)"},{"name":"geo","in":"query","required":false,"schema":{"type":"boolean"},"description":"true = include GPS coordinates (WGS84) of establishments"}],"responses":{"200":{"description":"Full profile: legal name, legal form, head office, NAF, workforce, officers, collective agreements (conventions_collectives, plus conventions_collectives_notes reading out technical IDCC codes such as 9999 = no agreement assigned), VAT number.","content":{"application/json":{"example":{"siren":"552032534","denomination":"DANONE","nature_juridique":"5599","activite_principale":"70.10Z","categorie_entreprise":"GE","tranche_effectif_salarie":"42","date_creation":"1955-01-01","etat_administratif":"actif","siege":{"siret":"55203253400703","adresse":"59 RUE LA FAYETTE 75009 PARIS","code_postal":"75009","commune":"PARIS"},"dirigeants":[{"type":"personne_morale","siren":"344366315","denomination":"ERNST & YOUNG AUDIT","fonction":"Commissaire aux comptes titulaire"}],"tva_intracommunautaire":"FR27552032534","nombre_etablissements":19,"index_egapro":[{"annee":2025,"note":86}],"source":"INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr, licence ouverte Etalab 2.0 ; index Egapro (ministère du Travail) et annuaire RGE (ADEME), licence ouverte Etalab 2.0","data_freshness":"stock Sirene mensuel (2026-07-01), dirigeants temps réel"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/entreprise/{siren}/etablissements":{"get":{"summary":"List establishments (SIRET) of a company","description":"All establishments (SIRET) of a French company: the complete list of business locations registered under one SIREN, official data from the French company registry (INSEE Sirene), head office and branches alike, each with its address and open or closed status. Use it to map the branches and addresses of a company across France, or to check whether a given SIRET is still open. The SIREN identifies the legal entity; the SIRET identifies each of its establishments.","x-price":"$0.003","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"552032534"}],"responses":{"200":{"description":"Establishments with addresses and open/closed status.","content":{"application/json":{"example":{"siren":"552032534","denomination":"DANONE","nombre_etablissements":19,"etablissements":[{"siret":"55203253400703","est_siege":true,"adresse":"59 RUE LA FAYETTE 75009 PARIS","code_postal":"75009","commune":"PARIS","etat_administratif":"actif","activite_principale":"70.10Z","date_creation":"2025-08-19","date_fermeture":null,"enseignes":[],"tranche_effectif_salarie":"NN"}],"source":"INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr, licence ouverte Etalab 2.0","disclaimer":"Données issues de l'open data, fournies en l'état sans garantie. / Open data, provided as is without warranty.","data_freshness":"stock Sirene mensuel (2026-07-01), dirigeants temps réel"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/entreprise/{siren}/alertes":{"get":{"summary":"Legal alerts from BODACC (insolvency, deregistration, business sales)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"552032534"}],"responses":{"200":{"description":"Announcements grouped by family (procedures collectives, radiations, ventes/cessions), most recent first, with judgment details.","content":{"application/json":{"example":{"siren":"552032534","denomination":"DANONE","procedures_collectives":[],"radiations":[],"ventes_cessions":[],"autres_annonces":{"Modifications diverses":63,"Dépôts des comptes":37},"total_annonces":106,"consulte_le":"2026-07-29T07:28:49.560Z","source":"BODACC (DILA) via bodacc-datadila.opendatasoft.com, licence ouverte Etalab 2.0","disclaimer":"Annonces officielles telles que publiées ; les avis rectificatifs et annulations sont restitués avec leur type, sans fusion. / Official announcements as published; rectifications and cancellations carry their type.","data_freshness":"BODACC temps réel (API DILA), cache 24 h"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/entreprise/{siren}/finances":{"get":{"summary":"Annual financial data from filed accounts (INPI / Banque de France ratios)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"552032534"}],"responses":{"200":{"description":"Revenue, EBITDA, EBIT, net income and financial ratios per fiscal year (filed, non-confidential accounts only).","content":{"application/json":{"example":{"siren":"552032534","nombre_exercices":8,"exercices":[{"date_cloture":"2024-12-31","chiffre_affaires":1030000000,"marge_brute":1030000000,"ebe":697000000,"ebit":-119000000,"resultat_net":592000000,"ratios":{"taux_endettement":73.492,"autonomie_financiere":34.908,"marge_ebe":67.67}}],"perimetre_comptable":{"perimetre":"social","double_depot_confirme":true},"bilans_saisis_inpi":[{"date_cloture":"2025-12-31","type_bilan":"consolide","devise":"EUR","postes_cles":{"chiffre_affaires":27376000000,"resultat_net":null,"capitaux_propres":16970000000},"liasses":[{"code":"AJ","m1":null,"m2":null,"m3":5861000000,"m4":5946000000}]}],"source":"Ratios financiers INPI / Banque de France (comptes annuels déposés) via data.economie.gouv.fr, licence ouverte 2.0","data_freshness":"jeu ratios_inpi_bce du 2026-06-01"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/entreprise/{siren}/marches-publics":{"get":{"summary":"Public procurement contracts won (official DECP data)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"552032534"}],"responses":{"200":{"description":"Aggregates (count, total amount, contracts still running, next expiry) plus the 100 most recent contracts with buyer identity resolved and estimated end dates.","content":{"application/json":{"example":{"siren":"130031487","nombre_marches":26,"montant_total":4943495.5,"nombre_accords_cadres":18,"montant_plafonds_accords_cadres":4162376,"montant_hors_accords_cadres":781119.5,"nombre_montants_enveloppe":20,"nombre_modalites_connues":26,"montant_enveloppes":4234476,"montant_prix_fermes":709019.5,"nombre_sous_traitance_connue":26,"nombre_sous_traitance_declaree":16,"nombre_sous_traitants":2,"montant_sous_traite":20910.24,"premier_marche":"2023-06-07","dernier_marche":"2026-06-01","marches_en_cours":18,"prochaine_echeance":"2026-12-17","marches":[{"id":"20262026100","objet":"ACTIONS DE FORMATION POUR LA SOUS SPECIALITE E1D ESPACES VERTS LOT 7 POUR LE COMPTE DE LA DELEGATION PAYS DE LA LOIRE DU CNFPT","montant":100000,"montant_modifie":null,"lot_numero":7,"co_traitance":false,"nombre_titulaires":1,"groupement":null,"date_notification":"2026-06-01","duree_mois":24,"duree_mois_modifiee":null,"date_fin_estimee":"2028-06-01","regime":"2022","accord_cadre":true,"montant_est_enveloppe":true,"modalites_execution":"Bons de commande","ccag":"Fournitures courantes et services","types_prix":"Définitif révisable","marche_innovant":false,"avance":{"attribuee":false,"taux":0},"origine":{"ue":0,"france":0},"plateforme_source":"DGFIP – PES MARCHÉ","avenant":null,"sous_traitance":{"declaree":false,"acte_id":null,"montant":null,"part_du_montant":null,"duree_mois":null,"date_notification":null,"variation_prix":null,"sous_traitant":null},"offres_recues":1,"acheteur":{"siret":"18001404502245","nom":"CENTRE NATIONAL DE LA FONCTION PUBLIQUE TERRITORIALE"},"nature":"Marché","procedure":"Procédure adaptée","code_cpv":"80530000-8","lieu_execution":"49000"}],"liste_tronquee":false,"source":"Données essentielles de la commande publique (DECP consolidées) via data.economie.gouv.fr, licence ouverte 2.0"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/marches/expirations":{"get":{"summary":"Tender anticipation: French public contracts expiring within a window","x-price":"$0.05","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"cpv","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{2,8}$"},"example":"45","description":"CPV prefix (45 = construction works)"},{"name":"departement","in":"query","required":false,"schema":{"type":"string","pattern":"^(?:0[1-9]|1\\d|2[1-9]|[3-8]\\d|9[0-5]|2[AB]|97[1-8]|98[4-8])$"},"example":"69","description":"French department code (01-95, 2A, 2B, 971-978, 984-988)"},{"name":"fenetre_mois","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":24},"example":12,"description":"Window in months (default 12)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500},"example":1,"description":"50 contracts per page"}],"responses":{"200":{"description":"Contracts whose ESTIMATED end date (notification + initially declared duration; duration amendments are absent from the DECP source) falls inside the window, sorted by end date: buyer (SIRET + resolved name), incumbent holders, amount (after amendment when published), framework-agreement flag, CPV, department. Buyers typically re-tender 4-9 months before expiry. An empty list is scoped honestly: contracts under EUR 40k excl. VAT are unpublished.","content":{"application/json":{"example":{"filtres":{"cpv":"45","departement":null,"fenetre_mois":6},"total_marches":34249,"page":1,"pages":685,"marches":[{"id":"2777529","objet":"Travaux de menuiserie pour l'accueil de la DRFIP 44","acheteur":{"siret":"13001292500017","nom":"DIRECTION REGIONALE FINANCES PUBLIQUES PAYS DE LA LOIRE ET DEPARTEMENT LOIRE ATLANTIQUE"},"montant":9788.8,"accord_cadre":false,"montant_est_enveloppe":true,"modalites_execution":"Marchés subséquents","sous_traitance_declaree":false,"lot_numero":null,"date_notification":"2025-09-02","duree_mois":12,"date_fin_estimee":"2026-09-02","code_cpv":"45421100-5","departement":null,"titulaires_sortants":[{"siren":"501383251","nom":"SOGEA ATLANTIQUE BTP"}]}]}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Anticipation stock not loaded yet (code `collecte_en_cours`): the extended DECP re-ingestion has not completed. Nothing is charged; retrying immediately will not help."}}}},"/v1/acheteur/{siret}/profil":{"get":{"summary":"Procurement profile of a French public buyer","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siret","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{14}$"},"example":"26310012500016","description":"14-digit SIRET of the buyer (Luhn-checked)"}],"responses":{"200":{"description":"Contract counts and amounts, activity by year (5y), top CPV segments, incumbent suppliers with contracts expiring within 18 months, framework-agreement share, average bids received per tender and median data-publication delay.","content":{"application/json":{"example":{"acheteur":{"siret":"26310012500016","siren":"263100125","nom":"CENTRE HOSPITALIER UNIVERSITAIRE DE TOULOUSE"},"nombre_marches":5723,"montant_total":11823128968.9,"montant_moyen":2065897,"marches_en_cours":4830,"echeances_12_mois":1167,"prochaine_echeance":"2026-09-05","habitudes":{"part_accords_cadres_pct":78.4,"offres_recues_moyenne":3.5,"delai_publication_median_jours":11,"part_montants_enveloppe_pct":79.8,"modalites_connues":5723,"part_sous_traitance_declaree_pct":77.6,"sous_traitance_connue":5723,"part_avances_pct":57.4,"avance_connue":5723,"ccag_dominant":"Fournitures courantes et services","types_prix_dominant":"Définitif révisable","plateforme_publication_dominante":"DGFIP – PES MARCHÉ"},"top_cpv":[{"cpv4":"3300","nombre":3002}],"titulaires_principaux":[{"siren":"433944485","nom":"ARROW GENERIQUES","nombre_marches":164,"marches_expirant_18_mois":67}]}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Anticipation stock not loaded yet (code `collecte_en_cours`). Nothing is charged."}}}},"/v1/entreprise/{siren}/concurrents-marches":{"get":{"summary":"Rival contractors on the same CPV segments (public procurement)","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"130031487"}],"responses":{"200":{"description":"The company's top-5 CPV segments (last 5 years) and the top-15 rival contractors on those segments over the last 3 years, with contract counts, total amounts and shared segments.","content":{"application/json":{"example":{"siren":"130031487","segments_cpv":[{"cpv4":"7999","nombre":7},{"cpv4":"8053","nombre":4}],"periode_comparaison_annees":3,"concurrents":[{"siren":"444523526","nom":"ARTELIA","nombre_marches":262,"montant_total":116410066.59,"segments_communs":["7124","7931"]}]}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Anticipation stock not loaded yet (code `collecte_en_cours`). Nothing is charged."}}}},"/v1/eu/recherche":{"get":{"summary":"Search European companies across official registers (unified schema)","x-price":"$0.003","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"example":"equinor","description":"Company name — 2 to 100 characters once unsupported characters are stripped."},{"name":"pays","in":"query","required":false,"schema":{"type":"string","pattern":"^[A-Za-z]{2}$"},"example":"NO","description":"Optional ISO-3166 alpha-2 country filter"}],"responses":{"200":{"description":"Top 10 matches with country, national ID, name, normalized status, city, source register (local registers + worldwide GLEIF) and score_confiance (0-1 match confidence). Registers are queried in PARALLEL, each under a time budget: any register that stays silent is REPORTED in registres_muets (empty array = every queried register answered) — a silent miss is never served as an empty result. If every register is silent, the call is a 503 and nothing is charged.","content":{"application/json":{"example":{"nombre_resultats":10,"registres_muets":[],"resultats":[{"pays":"NO","id_national":"923609016","denomination":"EQUINOR ASA","statut":"actif","ville":"STAVANGER","registre":"Enhetsregisteret (Brønnøysundregistrene)","correspondance":"registre_local","score_confiance":1}],"pays_couverts":[{"pays":"NO","registre":"Enhetsregisteret (Brønnøysundregistrene)","mode":"base locale","entites":1168483}],"source":"Registres officiels : Brønnøysundregistrene (NO, NLOD), e-Business Register (EE, CC-BY 4.0), Uzņēmumu reģistrs (LV), KBO/BCE (BE), CVR (DK), Companies House (GB, OGL), ARES (CZ), Register právnických osôb (SK, CC-BY 4.0), PRH/YTJ (FI, CC-BY 4.0), Krajowy Rejestr Sądowy (PL), Zefix (CH, OGD), Bolagsverket (SE), GLEIF (CC0)","disclaimer":"Données rediffusées telles que publiées par les registres officiels, dans un schéma unifié ; `statut` est une normalisation en 3 valeurs, le libellé source est conservé dans `statut_detail`. / Official register data as published, unified schema; `statut` is a 3-value normalization."}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/{pays}/{id}":{"get":{"summary":"Unified European company profile","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"pays","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z]{2}$"},"example":"NO","description":"ISO-3166 alpha-2 country code (NO, EE, LV, BE, CH, CZ, SK, FI, PL; DK/GB when enabled)"},{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"923609016","description":"National register identifier"}],"responses":{"200":{"description":"Same JSON schema for every country: identity, legal form, normalized status (+ source label), creation date, head office, VAT, LEI, official register link, data freshness. Belgian profiles also carry NACEBEL activities (French labels) and the establishment-unit list.","content":{"application/json":{"example":{"pays":"NO","registre":"Enhetsregisteret (Brønnøysundregistrene)","id_national":"923609016","denomination":"EQUINOR ASA","forme_juridique":{"code":"ASA","libelle":"Allmennaksjeselskap"},"statut":"actif","statut_detail":null,"date_creation":"1995-03-12","adresse_siege":{"adresse":"Forusbeen 50","code_postal":"4035","ville":"STAVANGER","pays":"NO"},"identifiants":{"tva":"NO923609016MVA","lei":"OW6OFBNCKXC4US5C7523"},"lien_registre":"https://virksomhet.brreg.no/nb/oppslag/enheter/923609016","data_freshness":"stock Enhetsregisteret (Brønnøysundregistrene) (2026-07)","source":"Registres officiels : Brønnøysundregistrene (NO, NLOD), e-Business Register (EE, CC-BY 4.0), Uzņēmumu reģistrs (LV), KBO/BCE (BE), CVR (DK), Companies House (GB, OGL), ARES (CZ), Register právnických osôb (SK, CC-BY 4.0), PRH/YTJ (FI, CC-BY 4.0), Krajowy Rejestr Sądowy (PL), Zefix (CH, OGD), Bolagsverket (SE), GLEIF (CC0)","disclaimer":"Données rediffusées telles que publiées par les registres officiels, dans un schéma unifié ; `statut` est une normalisation en 3 valeurs, le libellé source est conservé dans `statut_detail`. / Official register data as published, unified schema; `statut` is a 3-value normalization."}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/BE/{id}":{"get":{"summary":"BE company profile from its national register","description":"Official Belgian company registry lookup (KBO/BCE, Banque-Carrefour des Entreprises / Kruispuntbank van Ondernemingen). Query: /v1/eu/entreprise/BE/0403199702 (10-digit enterprise number, with or without dots). Returns legal name, legal form, normalized status, incorporation date, registered office, NACEBEL activities with French labels, the establishment-unit list, VAT number and LEI, plus a link to the official register entry — Belgian company data from KBO/BCE open data, refreshed daily.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"0403170701","description":"National register identifier for BE."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/CH/{id}":{"get":{"summary":"CH company profile from its national register","description":"Official Swiss company registry lookup (Zefix — Central Business Name Index / Registre central du commerce), covering companies registered in Switzerland. Query: /v1/eu/entreprise/CH/CHE-107.480.920 (CHE UID number, with or without dots). Returns legal name, legal form, normalized status, registered office and the cantonal register link — Swiss company data live from Zefix. Same unified JSON schema as every Sirenic European company profile.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"CHE-107.480.920","description":"National register identifier for CH."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/NO/{id}":{"get":{"summary":"NO company profile from its national register","description":"Official Norwegian company registry lookup (Brønnøysundregistrene / Enhetsregisteret — BRREG open data). Query: /v1/eu/entreprise/NO/923609016 (9-digit organisasjonsnummer). Returns legal name, legal form, normalized status, incorporation date, registered office, VAT/MVA and LEI — Norwegian company data from Norway's official register, the Enhetsregisteret (NLOD open data). Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"923609016","description":"National register identifier for NO."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/CZ/{id}":{"get":{"summary":"CZ company profile from its national register","description":"Official Czech company registry lookup (ARES — register of economic subjects, Ministry of Finance of Czechia). Query: /v1/eu/entreprise/CZ/45274649 (8-digit IČO / ICO identifier). Returns legal name, legal form, normalized status, incorporation date, registered office and the DIČ (DIC) VAT number — Czech company data live from ARES, the official register of companies in Czechia. Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"45274649","description":"National register identifier for CZ."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/SK/{id}":{"get":{"summary":"SK company profile from its national register","description":"Official Slovak company registry lookup (RPO — Register právnických osôb, the register of legal entities of Slovakia, Statistical Office SR, CC-BY). Query: /v1/eu/entreprise/SK/35763469 (8-digit IČO / ICO identifier). Returns legal name, legal form, normalized status, incorporation date and registered office — Slovak company data live from the official RPO register of Slovakia. Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"35763469","description":"National register identifier for SK."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/FI/{id}":{"get":{"summary":"FI company profile from its national register","description":"Official Finnish company registry lookup (PRH / YTJ — Finnish Patent and Registration Office Business Information System, CC-BY). Query: /v1/eu/entreprise/FI/0112038-9 (Business ID / Y-tunnus). Returns legal name, legal form, normalized status, registered office and the FI VAT number — Finnish company data live from the PRH open data API, covering companies registered in Finland. Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"0112038-9","description":"National register identifier for FI."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/PL/{id}":{"get":{"summary":"PL company profile from its national register","description":"Official Polish company registry lookup (KRS — Krajowy Rejestr Sądowy, the National Court Register of Poland, Ministry of Justice). Query: /v1/eu/entreprise/PL/0000006865 (10-digit KRS number). Returns legal name, legal form, normalized status, incorporation date and registered office — Polish company data live from KRS (officers anonymized at the source). Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"0000006865","description":"National register identifier for PL."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/EE/{id}":{"get":{"summary":"EE company profile from its national register","description":"Official Estonian company registry lookup (e-Business Register / Äriregister of Estonia). Query: /v1/eu/entreprise/EE/12417834 (8-digit registrikood). Returns legal name, legal form, normalized status, incorporation date and registered office — Estonian company data from Estonia's official e-Business Register. Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"12417834","description":"National register identifier for EE."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/LV/{id}":{"get":{"summary":"LV company profile from its national register","description":"Official Latvian company registry lookup (Uzņēmumu reģistrs / Uznemumu registrs — the Register of Enterprises of Latvia). Query: /v1/eu/entreprise/LV/40003245752 (11-digit registration number). Returns legal name, legal form, normalized status, incorporation date and registered office — Latvian company data from Latvia's official register. Unified JSON schema shared by all Sirenic European company profiles.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"40003245752","description":"National register identifier for LV."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/SE/{id}":{"get":{"summary":"SE company profile from its national register","description":"Official Swedish company registry lookup (Bolagsverket — Swedish Companies Registration Office). Query: /v1/eu/entreprise/SE/5560012402 (10-digit organisationsnummer). Returns legal name, legal form, normalized status, registration date and registered office — Swedish company data for Sweden, from Bolagsverket's official weekly national file, free of charge under the EU high-value datasets regulation. Part of Sirenic's Nordics coverage, unified JSON schema.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9.-]{1,20}$"},"example":"5560012402","description":"National register identifier for SE."}],"x-exemple-partage":"/v1/eu/entreprise/{pays}/{id}","responses":{"200":{"$ref":"#/components/responses/Reponse200UnifiedJson"},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"$ref":"#/components/responses/Reponse503LocalRegister"}}}},"/v1/eu/entreprise/ES/{hoja}/actes":{"get":{"summary":"Spanish company acts from the BORME gazette (Registro Mercantil, section A), by hoja registral","description":"Spanish company acts from the official BORME gazette (Registro Mercantil, section A) by hoja registral — the register key, e.g. VI-23141: incorporations, officer appointments and dismissals (role + name), capital changes, mergers, dissolutions, insolvency. Daily filings flow since 2009, newest first (100 max + total count). Spanish personal IDs (DNI/NIE) and natural-person sole-shareholder names are redacted at ingestion. Basado en datos de la Agencia Estatal Boletin Oficial del Estado (boe.es).","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"hoja","in":"path","required":true,"schema":{"type":"string","pattern":"^[A-Za-z0-9][A-Za-z0-9 .-]{1,24}$"},"example":"VI-23141","description":"Hoja registral (register-sheet key, e.g. VI-23141) — get it from /v1/eu/recherche?pays=ES. The BORME does not publish the NIF; the hoja is the native key."}],"responses":{"200":{"description":"Company acts, newest first (100 max + total count): date, province, open-vocabulary types, full act body. GDPR redactions (DNI/NIE, natural-person sole shareholders) are marked « […] » as required by the BOE licence. Officer names (role + name) are served as published.","content":{"application/json":{"example":{"pays":"ES","hoja":"VI-14412","denomination":"OSG IBERICA TOOLING, SOCIEDAD LIMITADA","nif":null,"rattachement_nif":"non disponible — le BORME (sección A) ne publie pas le NIF","nombre_actes":1,"actes_tronques":false,"actes":[{"fecha":"2026-07-23","numero":344928,"provincia":"ARABA/ÁLAVA","id_document":"BORME-A-2026-140-01","types":["fusion por absorcion"],"corps":"Fusión por absorción. Sociedades absorbidas: OSG NST IBERICA SOCIEDAD LIMITADA.  Datos registrales. S 8 , H VI 14412, I/A 32 (15.07.26)."}],"source":"BORME sección A (actos inscritos) — Basado en datos de la Agencia Estatal Boletín Oficial del Estado (https://www.boe.es)"}}}},"400":{"description":"Invalid hoja format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown hoja (no act since 2009) or non-ES country — payment cancelled."}}}},"/v1/eu/entreprise/NO/{id}/comptes":{"get":{"summary":"Norwegian annual accounts (Regnskapsregisteret) — latest year live + every year accumulated since 2026-07","description":"Norwegian company annual accounts and financial statements from Norway's official Regnskapsregisteret (Brønnøysundregistrene, Brreg, NLOD 2.0). Query: /v1/eu/entreprise/NO/923609016/comptes (9-digit organisasjonsnummer). Latest filed fiscal year live from the register plus earlier years collected since 2026-07 — financials: balance sheet (assets, equity, debts), P&L (operating income and result, net result) in the filing currency (can be USD). Banks and insurers are not served by the source.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"923609016","description":"9-digit Norwegian organisasjonsnummer (no spaces)"}],"responses":{"200":{"description":"All fiscal years accumulated for this company, newest first: balance sheet (total assets, fixed/current assets, equity, debts short/long term), P&L (operating income and result, pre-tax and net result), filing currency (can be USD — never converted), small-company regime and liquidation flags, plus per-year collection date. The register only serves the latest year: earlier years appear once Sirenic has seen them (accumulated since 2026-07).","content":{"application/json":{"example":{"pays":"NO","id_national":"923609016","nombre_exercices":1,"exercices":[{"date_cloture":"2024-12-31","debut_exercice":"2024-01-01","devise":"USD","oppstillingsplan":"store","petite_entreprise":false,"bilan":{"total_actif":109150000000,"capitaux_propres":41090000000,"dettes":68060000000},"resultat":{"produits_exploitation":72543000000,"resultat_net":8141000000},"collecte_le":"2026-07-29"}],"source":"Data from Brønnøysundregistrene — Regnskapsregisteret (data.brreg.no), licence NLOD 2.0","licence":"Data from Brønnøysundregistrene, NLOD 2.0","disclaimer":"Le Regnskapsregisteret ouvert ne sert que le DERNIER exercice déposé"}}}},"400":{"description":"Invalid organisasjonsnummer (9 digits, no spaces) — or a per-year sub-path, which does not exist for NO. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No annual accounts in the open register for this organisation number — payment cancelled."},"502":{"description":"Upstream error — banks and insurers are not served by the open Norwegian accounts API; payment cancelled."}}}},"/v1/eu/entreprise/NO/{id}/evenements":{"get":{"summary":"Norwegian legal events (Enhetsregisteret) — bankruptcy, winding-up, strike-off","description":"Norwegian company legal events from the official Enhetsregisteret (Brreg, NLOD 2.0) for insolvency and credit risk monitoring: bankruptcy (konkurs, with the registered date), voluntary or compulsory liquidation, and strike-off, plus current flags checked live. 9-digit organisasjonsnummer. A live-verified company with no flag gets an explicit positive answer. Coarser than France's BODACC: no ruling text, no court; undated events carry an upper-bound date. Legal persons only, never individuals.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"926455249","description":"9-digit Norwegian organisasjonsnummer (no spaces)"}],"responses":{"200":{"description":"Legal events newest first (closed vocabulary: faillite, faillite_levee, dissolution, dissolution_levee, dissolution_forcee, dissolution_forcee_levee, radiation) with `origine_date` — `registre` when Brønnøysundregistrene publishes the date (bankruptcy, strike-off), `constatation` when it publishes none and Sirenic saw the flag switch, `premiere_observation` when the flag was already raised at first sight: then `date_au_plus_tard: true` and the date is only an UPPER BOUND (started on or before). Plus `etat_courant` (flags re-checked live, `lecture_directe` telling how), `journal.derniere_collecte` (journal freshness) and `aucun_evenement: true` as an explicit positive answer — asserted only on a live-verified record, with no raised flag, not struck off, and a current journal. NLOD 2.0 attribution in every response. 3-year window — the source's own republication limit — except a still-open procedure, whose opening event is always served.","content":{"application/json":{"example":{"pays":"NO","id_national":"926455249","denomination":"123 HOLDING AS","forme_juridique":"AS","etat_courant":{"faillite":true,"faillite_date":"2026-02-27","radie_le":null,"verifie_en_direct":true,"lecture_directe":"verifiee"},"evenements":[{"type":"faillite","libelle":"Bankruptcy opened (konkurs)","date":"2026-02-27","origine_date":"registre","date_au_plus_tard":false}],"nombre_evenements":1,"aucun_evenement":false,"source":"Data from Brønnøysundregistrene — Enhetsregisteret (data.brreg.no), licence NLOD 2.0","licence":"Data from Brønnøysundregistrene, NLOD 2.0"}}}},"400":{"description":"Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown organisation number; a natural-person legal form (ENK, PERS, TVAM) or an estate named after one (KBO, BO), never served; or any legal form not on the recognised legal-person whitelist — payment cancelled."},"503":{"description":"Norwegian legal-events baseline not collected yet (fail-closed), or register unreachable for an unknown company — payment cancelled."}}}},"/v1/eu/entreprise/GB/{company_number}/dirigeants":{"get":{"summary":"UK company officers (Companies House, live) — active directors and secretaries","description":"UK company officers live from Companies House, the official UK company registry, by company number (e.g. GB/00102498): active directors and secretaries with role, appointment date, nationality, occupation, country of residence and month+year of birth only — never a correspondence address (GDPR minimisation). Resigned-officer count included. Built for KYB and due diligence on director appointments and governance. Contains public sector information licensed under the Open Government Licence v3.0.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"company_number","in":"path","required":true,"schema":{"type":"string","pattern":"^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$"},"example":"00102498","description":"Companies House company number (8 characters incl. leading zeros, e.g. 00102498, SC123456, NI017460)"}],"responses":{"200":{"description":"Active officers with role, appointment date, nationality, occupation, country of residence and month+year of birth only (GDPR minimisation: no correspondence address), plus active/resigned counts. OGL v3.0 attribution in `source`.","content":{"application/json":{"example":{"pays":"GB","company_number":"00000006","nombre_actifs":0,"nombre_demissionnes":49,"tronque":false,"dirigeants":[{"nom":"<nom du dirigeant>","fonction":"director","nomme_le":null,"nationalite":null,"profession":null,"pays_de_residence":null,"naissance":null}],"source":"Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).","data_freshness":"Companies House temps réel (cache 24 h)"}}}},"400":{"description":"Invalid company number format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown company number — payment cancelled."},"503":{"description":"Companies House key not configured or upstream quota reached — payment cancelled."}}}},"/v1/eu/entreprise/GB/{company_number}/beneficiaires-effectifs":{"get":{"summary":"UK beneficial owners (PSC register, Companies House, live)","description":"UK beneficial owners (PSC, persons with significant control) live from Companies House for AML, KYB and compliance: individual and corporate-entity PSCs with natures of control (ownership/voting bands), notification dates, plus official PSC statements. Ceased PSCs excluded by default (inclure_cesses=true adds them with their ceased date). Beyond French-registry parity — France exposes no open UBO register. Month+year of birth only, no addresses. Open Government Licence v3.0 (Companies House).","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"company_number","in":"path","required":true,"schema":{"type":"string","pattern":"^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$"},"example":"08130873","description":"Companies House company number"},{"name":"inclure_cesses","in":"query","required":false,"schema":{"type":"string","enum":["true"]},"description":"Also return ceased PSCs (with their ceased_on date)"}],"responses":{"200":{"description":"Individual and corporate-entity PSCs (natures of control, notification dates), PSC statements, exemption flag for listed companies. Ceased PSCs excluded unless inclure_cesses=true. No address, month+year of birth only.","content":{"application/json":{"example":{"pays":"GB","company_number":"00446915","nombre_actifs":1,"nombre_cesses":0,"exemption_possible":false,"beneficiaires":[{"type":"entite","nom":"Bp International Limited","notifie_le":"2016-04-06","natures_de_controle":["ownership-of-shares-75-to-100-percent"],"identification":{"forme_juridique":"Limited By Shares","registre":"Companies House","numero_registre":"00542515"}}],"declarations":[],"source":"Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).","data_freshness":"Companies House temps réel (cache 24 h)"}}}},"400":{"description":"Invalid company number format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown company number — payment cancelled."},"503":{"description":"Companies House key not configured or upstream quota reached — payment cancelled."}}}},"/v1/eu/entreprise/GB/{company_number}/insolvabilite":{"get":{"summary":"UK company insolvency record (Companies House, live)","description":"UK company insolvency record for credit risk and compliance screening, live from Companies House by company number: liquidation (compulsory or voluntary), administration, receivership and other cases with their dates and insolvency practitioners (name and role only, no addresses). A company with NO recorded case returns an explicit positive answer (200, aucune_procedure) — the register is authoritative, an empty record is a fact. Open Government Licence v3.0 (Companies House).","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"company_number","in":"path","required":true,"schema":{"type":"string","pattern":"^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$"},"example":"NI017460","description":"Companies House company number"}],"responses":{"200":{"description":"Insolvency cases (type, dates, practitioners without addresses) — or an explicit positive `aucune_procedure: true` when the register records no case (the registrar is authoritative).","content":{"application/json":{"example":{"pays":"GB","company_number":"NI017460","aucune_procedure":false,"statuts":["liquidation"],"cas":[{"type":"compulsory-liquidation","numero":"1","dates":[{"type":"wound-up-on","date":"2008-11-20"}],"praticiens":[{"nom":"<nom du praticien de l'insolvabilité>","role":"practitioner","nomme_le":null,"fin_de_mission_le":null}],"notes":[]}],"source":"Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).","data_freshness":"Companies House temps réel (cache 24 h)"}}}},"400":{"description":"Invalid company number format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown company number — payment cancelled."},"503":{"description":"Companies House key not configured or upstream quota reached — payment cancelled."}}}},"/v1/eu/entreprise/LV/{regnr}/comptes":{"get":{"summary":"Latvian annual accounts (Uzņēmumu reģistrs / VID filings) — every filed fiscal year in one call","description":"Latvian company annual accounts — official financial statements from VID filings via the Uzņēmumu reģistrs open data of Latvia (CC0, daily). Query: /v1/eu/entreprise/LV/40003032065/comptes (11-digit registration number). EVERY filed fiscal year in one call: balance sheet, profit and loss (revenue, net income), cash flow when filed, employees, as published (EUR, LVL before 2014; statutory and consolidated filings kept apart). Null = not published, never zero.","x-price":"$0.03","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{11}$"},"example":"40003032065","description":"11-digit Latvian registration number"}],"responses":{"200":{"description":"Every filed fiscal year, newest first: balance sheet, P&L, cash flow when filed, employees — as published (filing currency EUR or LVL, published rounding unit; statutory and consolidated filings kept apart via `perimetre`). CC0 attribution (Uzņēmumu reģistrs / VID, data.gov.lv) in every response.","content":{"application/json":{"example":{"pays":"LV","id_national":"40003032949","nombre_exercices":2,"exercices":[{"date_cloture":"2025-12-31","exercice":2025,"perimetre":"statutaire","devise":"EUR","arrondi":"THOUSANDS","employes":1389,"bilan":{"total_actif":4189397},"compte_resultat":{"chiffre_affaires":949824},"flux_tresorerie":{"flux_exploitation":376739}}],"source":"Uzņēmumu reģistrs / VID — open data data.gov.lv","licence":"Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0","disclaimer":"Postes clés des rapports annuels déposés au VID, tels que publiés par l'Uzņēmumu reģistrs (CC0)"}}}},"400":{"description":"Invalid registration number (11 digits) — or a per-year sub-path, which does not exist for LV. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No filed annual accounts for this registration number — payment cancelled."},"503":{"description":"Latvian accounts stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/LV/{regnr}/insolvabilite":{"get":{"summary":"Latvian company insolvency record (Uzņēmumu reģistrs, daily national photo)","description":"Latvian company insolvency record from the official Uzņēmumu reģistrs open data (CC0, daily photo since 2008), built for credit risk and compliance screening: insolvency and legal protection proceedings in Latvia with start/end dates, resolution, court and case number. A registered company with NO proceeding returns an explicit positive answer (200, aucune_procedure: true) — the register is authoritative. 11-digit registration number.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"regnr","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{11}$"},"example":"40003032065","description":"11-digit Latvian registration number"}],"responses":{"200":{"description":"Insolvency and legal-protection proceedings (dates, resolution, court, case number; null end date = ongoing) — or an explicit positive `aucune_procedure: true` for a registered company with no proceeding (the register is authoritative).","content":{"application/json":{"example":{"pays":"LV","id_national":"40103144555","aucune_procedure":false,"procedures":[{"proceeding_id":90134947,"debiteur":"SIA \"NaviFleet\"","debut":"2025-10-14","fin":null,"forme":"LEGAL_PROTECTION","type":"NATIONAL","resolution":null,"numero_affaire":"C771723525","tribunal":"Rīgas pilsētas tiesa"}],"source":"Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0","data_freshness":"photo quotidienne data.gov.lv pré-ingérée (MAJ amont ~20:25 UTC)"}}}},"400":{"description":"Invalid registration number format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown registration number — payment cancelled."},"503":{"description":"Latvian insolvency stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/LV/{regnr}/dirigeants":{"get":{"summary":"Latvian company officers (Uzņēmumu reģistrs, refreshed daily)","description":"Latvian company officers and directors from the official Uzņēmumu reģistrs (Latvia's company registry) open data (CC0, daily): board members, chairs, liquidators and other representatives with name, role, governing body, representation rights (individually/jointly) and registration date; corporate officers carry their own registration number. For KYB and governance. GDPR minimisation: never the Latvian personal identity number, birth month+year only when published. 11-digit registration number.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"regnr","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{11}$"},"example":"40003032065","description":"11-digit Latvian registration number"}],"responses":{"200":{"description":"Board members, chairs, liquidators and other representatives: name, role, governing body, representation rights, registration date; corporate officers carry their own registration number. Never the Latvian personal identity number; birth month+year only when published.","content":{"application/json":{"example":{"pays":"LV","id_national":"40203109838","nombre_dirigeants":1,"dirigeants":[{"type":"entite","nom":"SIA \"ENESAN\"","fonction":"MEMBER","organe":null,"naissance":null,"regnr_entite":"40103761688","representation":"INDIVIDUALLY","representation_minimum":0,"inscrit_le":"2019-04-29"}],"source":"Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0","licence":"Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0"}}}},"400":{"description":"Invalid registration number format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown registration number — payment cancelled."},"503":{"description":"Latvian officers stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/LV/{regnr}/beneficiaires-effectifs":{"get":{"summary":"Latvian beneficial owners (patiesie labuma guvēji, open national UBO register)","description":"Latvian beneficial owners (patiesie labuma guvēji) from the official Uzņēmumu reģistrs open data (CC0, refreshed daily), for AML, KYB and compliance ownership checks: registered UBOs in Latvia with name, nationality, country of residence and registration date — an open national UBO register, depth France does not expose. GDPR minimisation: never the Latvian personal identity number, birth month+year only when published. 11-digit registration number.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"regnr","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{11}$"},"example":"40003032065","description":"11-digit Latvian registration number"}],"responses":{"200":{"description":"Registered beneficial owners: name, nationality, country of residence, registration date. An empty list for a registered company reflects the register (non-registration cases exist). Never the Latvian personal identity number; birth month+year only when published.","content":{"application/json":{"example":{"pays":"LV","id_national":"40003229495","nombre_beneficiaires":2,"beneficiaires":[{"prenom":"<prénom du bénéficiaire effectif>","nom":"<nom du bénéficiaire effectif>","naissance":null,"nationalite":"LV","residence":"LV","inscrit_le":"2019-05-02"}],"source":"Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0","licence":"Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0"}}}},"400":{"description":"Invalid registration number format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown registration number — payment cancelled."},"503":{"description":"Latvian beneficial-owners stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/EE/{registrikood}/comptes":{"get":{"summary":"Estonian annual-report key figures (e-Business Register open data) — every published year in one call","description":"Estonian company annual accounts — key figures from the official e-Business Register open data (RIK, CC BY 4.0, refreshed monthly). Query: /v1/eu/entreprise/EE/10003666/comptes (8-digit registrikood). EVERY published financial year since 2019 in one call: balance sheet (assets, equity, liabilities), revenue, employee expense, depreciation, operating and net profit, average FTE headcount — in EUR as published. Statutory and consolidated figures kept apart. Null = not published, never zero.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"registrikood","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"10003666","description":"8-digit Estonian registry code"}],"responses":{"200":{"description":"Every published financial year (2019+), newest first: balance-sheet, P&L and headcount key figures in EUR as published; `charges_personnel` negative (P&L) and `cout_main_oeuvre` positive (note) are distinct source items; statutory and consolidated figures kept apart via `perimetre`. CC BY 4.0 attribution (RIK) in every response. Refreshed MONTHLY.","content":{"application/json":{"example":{"pays":"EE","id_national":"10003666","devise":"EUR","nombre_exercices":2,"exercices":[{"debut_exercice":"2024-08-01","date_cloture":"2025-07-31","perimetre":"statutaire","forme":"OÜ","depose_le":"2026-01-30","audite":true,"auditeur_code":"16080550","bilan":{"total_actif":5952649},"compte_resultat":{"chiffre_affaires":10475906,"charges_personnel":-1614840}}],"source":"e-äriregister (Registre du commerce estonien) — open data avaandmed.ariregister.rik.ee","licence":"Registrite ja Infosüsteemide Keskus (RIK) — e-äriregistri avaandmed, CC BY 4.0","disclaimer":"Chiffres clés des rapports annuels tels que publiés par le e-äriregister (RIK, CC BY 4.0), millésimes 2019 et suivants"}}}},"400":{"description":"Invalid registry code (8 digits) — or a per-year sub-path, which does not exist for EE. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No structured key figures for this registry code (PDF-only filing, pre-2019, or unknown entity) — payment cancelled."},"503":{"description":"Estonian accounts stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/EE/{registrikood}/evenements":{"get":{"summary":"Estonian registry rulings (määrused) — striking-off and dissolution warnings, fines, entries","description":"Estonian registry rulings (määrused) — early-warning credit-risk signal from the e-Business Register open data (RIK, CC BY 4.0, daily national photo): entries, remedy orders, striking-off/dissolution WARNINGS, annual-report fines, dated. alerte flags a CLOSED type list (rest in types_non_qualifies); nombre_alertes excludes only rulings explicitly resolved (etat_code=L) — every other state (J, K, unseen codes) still counts. A still-registered entity with no ruling gets a dated positive answer.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"registrikood","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"10003666","description":"8-digit Estonian registry code"}],"responses":{"200":{"description":"Registry rulings newest first, Estonian codes and labels as published, with an `alerte` flag over the closed list returned in `types_alerte` (striking-off / compulsory-dissolution warnings and annual-report fines). `nombre_alertes` counts every qualified ruling EXCEPT those whose `etat_code` is explicitly known as resolved (currently `L` only) — a qualified ruling resolved that way keeps `alerte: true` on its own line but is no longer counted, while every other state (including `J`, `K`, or a code never seen before) still counts, fail-closed on the unknown. `types_non_qualifies` lists the rule types this entity has that are outside the closed list, so a 0 is never read as “no warning”. `aucune_ordonnance: true` is a positive fact, served only for an entity still registered and only on a fresh photo; the photo actually served is dated in `photo_le` / `ingere_le`. Refreshed DAILY.","content":{"application/json":{"example":{"pays":"EE","id_national":"10119794","aucune_ordonnance":false,"nombre_alertes":2,"types_non_qualifies":[{"code":"K1","libelle":"Kanne"}],"evenements":[{"numero":"Ä 30001556 / M1","date_ordonnance":"2021-02-03","date_inscription":null,"delai_supplementaire":"2021-08-03","type_code":"X2","type_libelle":"Hoiatusmäärus registrist kustutamiseks: majandusaasta aruanne esitamata","etat_code":"J","etat_libelle":"Jõustunud","alerte":true}],"photo_le":"2026-07-29","source":"e-äriregister (Registre du commerce estonien) — open data avaandmed.ariregister.rik.ee (aruannete elemendid, määrused), RIK, licence CC BY 4.0"}}}},"400":{"description":"Invalid registry code format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown or struck-off registry code in the current Estonian register (struck-off entities leave the open data entirely, so their silence is not a fact) — payment cancelled."},"503":{"description":"Estonian rulings stock not yet ingested, or photo too old to assert an absence (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/SE/{orgnr}/comptes":{"get":{"summary":"Swedish annual accounts (Bolagsverket iXBRL filings) — every digitally filed fiscal year in one call","description":"Swedish company annual accounts and financial statements decoded from the iXBRL filings Bolagsverket publishes for free (EU high-value datasets since 3 Feb 2025). Query: /v1/eu/entreprise/SE/5560401977/comptes (10-digit organisationsnummer). EVERY digitally filed fiscal year: revenue, operating and net result, balance sheet (total assets, equity, debts), average employees and prior-year column as filed. Digital filing is optional in Sweden (~63% of reports): absence never means no accounts.","x-price":"$0.03","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"orgnr","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{6}-?\\d{4}$"},"example":"5560401977","description":"10-digit Swedish organisationsnummer, with or without hyphen"}],"responses":{"200":{"description":"Every digitally filed fiscal year, newest first: P&L, balance sheet, average employees and the prior-year column as filed, in the filing currency. Null = not disclosed, never zero. COVERAGE: digital filing is optional in Sweden (~63% in 2025) and the corpus starts with filings received from 2020 — absence is never proof that a company has no accounts. Officers are not served for Sweden (not in the free datasets).","content":{"application/json":{"example":{"pays":"SE","id_national":"5560401977","nombre_exercices":4,"exercices":[{"date_cloture":"2025-12-31","denomination":"Research Premises Scandinavia Aktiebolag","devise":"SEK","chiffre_affaires":891571,"resultat_net":15721,"total_actif":351010,"capitaux_propres":263724}],"source":"Bolagsverket — värdefulla datamängder (bulkfil des organisations et rapports annuels iXBRL), vardefulla-datamangder.bolagsverket.se"}}}},"400":{"description":"Invalid organisationsnummer — or a per-year sub-path, which does not exist for SE. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No digitally filed annual report for this organisation number — payment cancelled."},"503":{"description":"Swedish accounts stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/SE/{orgnr}/evenements":{"get":{"summary":"Swedish company registry events (Bolagsverket weekly national file)","description":"Swedish company registry events from Bolagsverket's official weekly national file (free EU high-value dataset) — credit risk signals: incorporation, ONGOING bankruptcy (konkurs), liquidation, company reconstruction, composition proceedings, merger or division, and deregistration with coded reason and date. Query: /v1/eu/entreprise/SE/5560012402/evenements (10-digit organisationsnummer). A registered company with no proceeding returns an explicit positive answer — the register is authoritative.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"orgnr","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{6}-?\\d{4}$"},"example":"5560012402","description":"10-digit Swedish organisationsnummer, with or without hyphen"}],"responses":{"200":{"description":"Incorporation, ONGOING winding-up or restructuring proceedings (bankruptcy, liquidation, reconstruction, composition, merger, division, resolution) with start dates, and deregistration with its coded reason. `procedure_en_cours: false` for a registered company is an explicit positive fact. Only ONGOING proceedings are published upstream, but the file KEEPS that value for a company later struck off: a deregistered company is therefore served `procedure_en_cours: false` — the proceeding ended with the striking-off, whose coded reason carries the outcome (KKAV-AVORG = closed bankruptcy). The proceeding itself stays listed with its start date, as a historical fact.","content":{"application/json":{"example":{"pays":"SE","id_national":"5560012402","nombre_evenements":1,"evenements":[{"type":"immatriculation","code":"REG","libelle":"immatriculation au registre","date":"1897-09-20","en_cours":false}],"procedure_en_cours":false,"radiee":false,"source":"Bolagsverket — värdefulla datamängder (bulkfil des organisations et rapports annuels iXBRL), vardefulla-datamangder.bolagsverket.se","data_freshness":"photo nationale HEBDOMADAIRE de Bolagsverket pré-ingérée (republiée le lundi)"}}}},"400":{"description":"Invalid organisationsnummer format. Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown organisation number, or a country other than SE (free) — payment cancelled."},"503":{"description":"Swedish registry stock not yet ingested (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/DK/{cvr}/dirigeants":{"get":{"summary":"Danish company officers (CVR, Erhvervsstyrelsen, live) — management bodies and mandates","description":"Danish company officers and directors (deltagere) live from the official CVR register (Erhvervsstyrelsen system-to-system) by CVR number — governance and KYB: executive board (Direktion), board members (Bestyrelse) incl. deputies, election method, fully liable I/S or K/S partners and auditors — name, body, role, mandate dates. Active mandates by default; inclure_anciens=true adds ended ones where founders (stiftere) normally are. GDPR minimisation: never an address, never a personal identifier.","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"cvr","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"24256790","description":"8-digit Danish CVR number"},{"name":"inclure_anciens","in":"query","required":false,"schema":{"type":"string","enum":["true"]},"description":"Also return ended mandates, each with its end date"}],"responses":{"200":{"description":"Registered mandates: name, participant type, body (Direktion, Bestyrelse, Interessenter, Revision, Stiftere), role, election method and dates. Active mandates by default; an empty list for a known company is a fact of the register. The listing is capped at 300 active and 200 ended mandates: `tronque` is true when the cap bites, while `nombre_mandats_en_cours` and `nombre_anciens_mandats` always give the exact registered counts. Ownership register not served here, beneficial owners not exposed by this access. GDPR minimisation: no address, no personal identifier.","content":{"application/json":{"example":{"pays":"DK","id_national":"24256790","denomination":"NOVO NORDISK A/S","statut":"NORMAL","nombre_mandats_en_cours":20,"nombre_anciens_mandats":9,"tronque":false,"dirigeants":[{"nom":"DELOITTE STATSAUTORISERET REVISIONSPARTNERSELSKAB","type":"entite","organe":"Revision","organe_type":"REVISION","fonction":"REVISION","depuis":"2021-03-25","jusqu_au":null,"en_cours":true,"mode_election":null,"cvr":"33963556"}],"source":"CVR — Erhvervsstyrelsen (Danish Business Authority), accès system-à-système distribution.virk.dk","data_freshness":"CVR temps réel (cache 24 h)"}}}},"400":{"description":"Invalid CVR number format (8 digits). Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown CVR number — payment cancelled."},"503":{"description":"Danish CVR system-to-system access not configured or upstream unavailable — payment cancelled."}}}},"/v1/eu/entreprise/CZ/{ico}/insolvabilite":{"get":{"summary":"Czech company insolvency record (ISIR — Insolvenční rejstřík, since 2008)","description":"Czech company insolvency from ISIR, the official insolvency register of Czechia, since 2008. Query: /v1/eu/entreprise/CZ/45274649/insolvabilite (8-digit IČO). Every proceeding — bankruptcy (konkurs), reorganisation (reorganizace): case number, court, status, dates, its 100 most recent events with document links. Publication is compulsory by law: no proceeding is an explicit positive answer. LEGAL PERSONS ONLY: a natural person's IČO (sole trader — most Czech IČOs) is refused, never cleared.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"ico","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"45274649","description":"8-digit Czech IČO"}],"responses":{"200":{"description":"Every ISIR proceeding for this IČO: case number, court, published status, opening/closing dates, claim-filing deadline and its event trail with official document links — or an explicit positive `aucune_procedure: true` for a company known to ARES with no proceeding (publication is compulsory by Czech law). `evenements` is capped at the 100 MOST RECENT events per case: `nombre_evenements` carries the real total and `evenements_tronques` says whether the list is truncated. `collecte_le` is the date of the last complete ISIR collection (the stock is incremental). Legal-person debtors only (natural persons excluded at ingestion, GDPR): a natural person's IČO returns 404 `entreprise_individuelle_non_servie`, never a clean answer.","content":{"application/json":{"example":{"pays":"CZ","id_national":"49193881","aucune_procedure":false,"procedures":[{"affaire":"INS 9/2008","debiteur":"ZRK Čekanice s.r.o.  v likvidaci","tribunal":"KSZPCPM","etat":"VYRIZENA","ouverture":"2008-01-03T14:15:17Z","nombre_evenements":9,"evenements_tronques":false,"evenements":[{"id":1946,"publie_le":"2008-01-14T09:36:31Z","type":83,"description":"Usnesení o zamítnutí insolvenčního návrhu pro nedostatek majetku dlužníka","etat":"VYRIZENA"}]}],"collecte_le":"2026-07-31","source":"ISIR — Insolvenční rejstřík (Ministerstvo spravedlnosti ČR), web service public isir.justice.cz"}}}},"400":{"description":"Invalid IČO format (8 digits). Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"IČO unknown to the Czech ARES register and no ISIR proceeding, or a natural person's IČO (`entreprise_individuelle_non_servie`: sole trader, farmer or foreign natural person — legal forms 100-108, 424, 425 of the ARES `PravniForma` codebook; their insolvency is out of scope by GDPR minimisation) — payment cancelled."},"502":{"description":"The ARES legal form is missing or is not on the allow-list of legal-person forms (`forme_juridique_non_reconnue`), so this IČO cannot be confirmed to be a legal person and an absence cannot be attested — payment cancelled."},"503":{"description":"ISIR stock not yet collected end-to-end (fail-closed), incomplete because a range of the event stream was skipped and not yet re-read (`stock_isir_troue`), stale beyond the documented freshness threshold (`stock_isir_perime`), or ARES unreachable so an absence cannot be attested — payment cancelled."}}}},"/v1/eu/entreprise/PL/{krs}/evenements":{"get":{"summary":"Polish company registry events (KRS daily bulletin) — liquidation, bankruptcy, filings, changes","description":"Polish company registry EVENTS from the official KRS daily bulletin (Ministry of Justice) — company monitoring for Poland. Query: /v1/eu/entreprise/PL/0000006865/evenements (KRS number). Liquidation, bankruptcy, restructuring, mergers, suspension/resumption, dissolution, tax arrears, enforcement, accounts filings, name/seat/capital changes, strike-off — each typed from a CLOSED list, dated, traced to its section, in a gap-free window. GDPR by design: no officer, no PESEL, no register free text.","x-price":"$0.02","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"krs","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{10}$"},"example":"0000006865","description":"10-digit KRS number, leading zeros included"}],"responses":{"200":{"description":"Registry events, newest first, each with the bulletin day it appeared on (`constate_le`), the register's own date when published (`date_source`, else null — `date_source_inferee: true` when that date was inferred from its format alone), the register section and a structured detail. `observation` states the collected window, which is contiguous by construction, and no event outside it is ever served; `aucun_evenement: true` is an explicit positive answer INSIDE that window only. The `existence` block states whether the KRS was actually read during the window — this endpoint does not otherwise check that the number exists, and an unknown number returns the same empty answer (settle it with GET /v1/eu/entreprise/PL/{krs}). `retard_jours` gives the age of the window. Never an officer, a shareholder or a PESEL — and never the register's free-text wording: it is read to extract a date, then discarded. `autorite` carries the deciding court or authority (an institution), `circonstance` and `nature` are closed lists.","content":{"application/json":{"example":{"pays":"PL","krs":"0000006865","observation":{"depuis":"2026-07-01","jusqu_au":"2026-07-28"},"aucun_evenement":true,"nombre_evenements":0,"evenements":[],"derniere_observation":null,"existence":{"verifiee":false,"explication":"Existence NON vérifiée : cette route ne lit que les journées du Biuletyn, et ce numéro n'y a jamais figuré pendant la fenêtre. `aucun_evenement: true` signifie « aucun changement publié pendant la fenêtre » — PAS « société existante restée calme » : un numéro inexistant donne exactement la même réponse. Pour trancher l'existence, appeler la fiche d'identité LIVE (elle rend 404 si le KRS n'existe pas). / Existence NOT verified: this route only reads the daily bulletin and this number never appeared in it during the window; an unknown number yields the very same answer. Use the live identity endpoint to settle existence (it returns 404 when the KRS does not exist).","route_identite":"/v1/eu/entreprise/PL/0000006865"},"retard_jours":1,"source":"Krajowy Rejestr Sądowy (KRS) — Ministerstwo Sprawiedliwości, API ouverte api-krs.ms.gov.pl (Biuletyn quotidien + OdpisAktualny)","licence":"Données publiques du Krajowy Rejestr Sądowy (Ministerstwo Sprawiedliwości, api-krs.ms.gov.pl), réutilisation libre"}}}},"400":{"description":"Invalid KRS number (10 digits, leading zeros included). Never charged. / Jamais facturé."},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Country other than PL on this sub-path — free, no payment taken."},"503":{"description":"KRS event window not yet collected, incomplete, or too stale to be sold (fail-closed) — payment cancelled."}}}},"/v1/eu/entreprise/{pays}/{id}/comptes":{"get":{"summary":"Company filings list — Belgium (NBB CBSO) and Finland (PRH XBRL filings)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"pays","in":"path","required":true,"schema":{"type":"string","pattern":"^([Bb][Ee]|[Ff][Ii])$"},"example":"BE","description":"BE (Belgian annual accounts) or FI (Finnish XBRL-filed annual accounts, ~5% coverage)"},{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\d{10}|\\d{7}-\\d)$"},"example":"0403170701","description":"BE: 10-digit enterprise number (KBO/BCE). FI: Business ID NNNNNNN-N (e.g. 0103396-3)"}],"responses":{"200":{"description":"BE: every published annual-account deposit with its reference and filing metadata as published by the NBB (Authentic Data). FI: the fiscal years available from PRH XBRL filings (empty filings filtered out — every listed year carries figures). FI stock refreshed WEEKLY.","content":{"application/json":{"example":{"pays":"BE","id_national":"0400378485","nombre_depots":93,"depots":[{"reference":"2025-00539072","detail":{"DepositDate":"2025-10-07","ExerciseDates":{"startDate":"2024-04-01","endDate":"2025-03-31"},"Currency":"EUR","EnterpriseName":"Colruyt Group","AccountingDataURL":"https://ws.cbso.nbb.be/authentic/deposit/2025-00539072/accountingData"}}],"telechargement":"GET /v1/eu/entreprise/BE/{id}/comptes/{reference}","source":"Banque nationale de Belgique — Centrale des bilans (CBSO), webservice Authentic Data","disclaimer":"Comptes annuels tels que déposés et publiés par la Centrale des bilans de la BNB (dépôts immuables)","data_freshness":"BNB CBSO temps réel, liste en cache 24 h"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No annual-account filing for this identifier — payment cancelled. FI: ~5% of Finnish limited companies file in XBRL, so absence does not mean no accounts exist."},"503":{"description":"FI: Finnish accounts stock not yet ingested, or the photo is older than 21 days and can no longer assert a fiscal year is missing (fail-closed). BE: NBB upstream unavailable. Payment cancelled."}}}},"/v1/eu/entreprise/{pays}/{id}/comptes/{reference}":{"get":{"summary":"One annual-account filing — Belgian deposit as filed, or Finnish fiscal year decoded from XBRL","x-price":"$0.15","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"pays","in":"path","required":true,"schema":{"type":"string","pattern":"^([Bb][Ee]|[Ff][Ii])$"},"example":"BE","description":"BE or FI"},{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\d{10}|\\d{7}-\\d)$"},"example":"0403170701","description":"BE: 10-digit enterprise number (KBO/BCE). FI: Business ID NNNNNNN-N"},{"name":"reference","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\d{4}-\\d{6,10}|\\d{4}-\\d{2}-\\d{2})$"},"example":"2026-00123205","description":"BE: deposit reference (YYYY-NNNNNNNN). FI: closing date (YYYY-MM-DD). Both come from the filings-list endpoint"},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["pdf","json"]},"description":"BE only. `pdf` forces the official PDF. `json` refuses the PDF fallback and answers 406 (not charged) when the filing has no JSON representation — for typed clients that cannot accept two shapes on the same 200. Omitted: JSON when it exists, PDF otherwise."}],"responses":{"200":{"description":"BE: the deposit as filed — structured JSON (published since April 2022) or the official PDF (older filings, or format=pdf); deposits are immutable. FI: the fiscal year decoded from the XBRL filing — revenue, operating and net result, equity, total assets, debts, plus the prior-year comparatives as published (EUR).","content":{"application/json":{"example":{"pays":"FI","id_national":"0103396-3","date_cloture":"2024-12-31","exercice":{"date_cloture":"2024-12-31","debut_exercice":"2024-01-01","denomination":"Arkkitehtitoimisto HKP Oy","chiffre_affaires":582458.35,"resultat_exploitation":-54382.16,"resultat_net":-48510.86,"capitaux_propres":482422.26,"total_actif":594206.51,"dettes":111784.25,"exercice_precedent":{"chiffre_affaires":1128645.82,"resultat_net":26876.86}},"source":"PRH / avoindata.prh.fi — Patentti- ja rekisterihallitus (Finnish Patent and Registration Office), licence CC BY 4.0","disclaimer":"Comptes annuels finlandais LORSQU'ILS SONT DÉPOSÉS EN XBRL au PRH (~5 % des sociétés à responsabilité limitée)"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"Unknown filing reference (BE) or closing date (FI) for this identifier — payment cancelled."},"406":{"description":"BE, with format=json only: this filing exists solely as the official PDF (filed before April 2022) — call again with format=pdf. Payment cancelled."},"503":{"description":"FI: Finnish accounts stock not yet ingested, or older than 21 days (fail-closed). BE: NBB upstream unavailable. Payment cancelled."}}}},"/v1/eu/entreprise/DK/{id}/comptes":{"get":{"summary":"Danish company filings list — fiscal years decoded from XBRL annual reports (Erhvervsstyrelsen)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"41235292","description":"8-digit Danish CVR number"}],"responses":{"200":{"description":"The fiscal years whose XBRL annual report (virk.dk publication index) has been decoded: closing dates, period, entity name, currency. Danish-taxonomy (fsa) filings only — IFRS/ESEF-only groups are not decoded; absence does not mean no accounts exist.","content":{"application/json":{"example":{"pays":"DK","id_national":"41235292","nombre_depots":1,"depots":[{"date_cloture":"2025-12-31","debut_exercice":"2025-01-01","fin_exercice":"2025-12-31","denomination":"Nielsen Media Denmark ApS","devise":"DKK"}],"telechargement":"GET /v1/eu/entreprise/DK/{cvr}/comptes/{date_cloture} — l'exercice décodé ($0.05)","source":"Erhvervsstyrelsen (Danish Business Authority) — offentliggørelser, distribution.virk.dk","disclaimer":"Extraits décodés des dépôts XBRL danois en taxonomie « regnskab » (fsa) tels que publiés","data_freshness":"stock XBRL pré-ingéré depuis l'index officiel virk.dk"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Not charged. Codes: `collecte_en_cours` (initial collection still running), `photo_perimee` (stock older than its freshness guard), `depot_non_lu` (a filing announced by the registry for THIS company could not be decoded — serving the list would silently truncate it; retried automatically)."}}}},"/v1/eu/entreprise/DK/{id}/comptes/{date_cloture}":{"get":{"summary":"One Danish fiscal year decoded from the XBRL annual report","x-price":"$0.05","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"41235292","description":"8-digit Danish CVR number"},{"name":"date_cloture","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"example":"2025-12-31","description":"Closing date (YYYY-MM-DD) from the filings-list endpoint"}],"responses":{"200":{"description":"Revenue (null = not published, never zero), gross result, operating result, pre-tax and net result, equity, total assets, debts, average employees, plus prior-year comparatives as published in the same filing; amounts in the filing currency (mostly DKK); official XBRL document URL included.","content":{"application/json":{"example":{"pays":"DK","id_national":"41235292","date_cloture":"2025-12-31","exercice":{"date_cloture":"2025-12-31","denomination":"Nielsen Media Denmark ApS","devise":"DKK","chiffre_affaires":48566339,"resultat_brut":16122431,"resultat_net":1082932,"capitaux_propres":4879267,"total_actif":15978409,"dettes":null,"effectif_moyen":34,"exercice_precedent":{"chiffre_affaires":49775255,"resultat_net":164204}},"source":"Erhvervsstyrelsen (Danish Business Authority) — offentliggørelser, distribution.virk.dk","disclaimer":"Extraits décodés des dépôts XBRL danois en taxonomie « regnskab » (fsa) tels que publiés"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Not charged. Codes: `collecte_en_cours` (initial collection still running), `photo_perimee` (stock older than its freshness guard), `depot_non_lu` (a filing announced by the registry for THIS company could not be decoded — serving the list would silently truncate it; retried automatically)."}}}},"/v1/eu/entreprise/SK/{ico}/comptes":{"get":{"summary":"Slovak company filings list — fiscal years decoded from structured statements (RÚZ, CC0)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"ico","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"36417475","description":"8-digit Slovak IČO"}],"responses":{"200":{"description":"The fiscal years whose STRUCTURED financial statements at the Register účtovných závierok have been decoded: closing date, period, filing type, form model, statutory vs consolidated scope, official document link. A single closing date MAY appear more than once — an ordinary (Riadna) and an extraordinary (Mimoriadna) filing are two distinct filings, never merged; each entry carries the `type_depot` and `perimetre` that select it on the detail endpoint. PDF-only filings (every IFRS group among them) carry no structured data and are absent; absence does not mean no accounts exist. Sole traders are not served (GDPR minimisation).","content":{"application/json":{"example":{"pays":"SK","id_national":"36417475","nombre_depots":2,"depots":[{"date_cloture":"2025-12-31","debut_exercice":"2025-01-01","denomination":"PODLAHY RK, s. r. o.","perimetre":"statutaire","type_depot":"Riadna","modele":"Úč POD","nb_postes":16,"source_url":"https://www.registeruz.sk/cruz-public/domain/financialreport/show/7073209"}],"telechargement":"GET /v1/eu/entreprise/SK/{ico}/comptes/{date_cloture} ($0.03)","source":"Register účtovných závierok (RÚZ) — Ministerstvo financií SR, registeruz.sk, open API publique","licence":"CC0 (RÚZ Open API, Ministerstvo financií SR)","disclaimer":"Postes clés normalisés extraits des états financiers STRUCTURÉS déposés au RÚZ"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Not charged. Codes: `collecte_en_cours` (no complete pass succeeded yet — retrying does not help), `photo_perimee` (stock older than its freshness guard), `zavierka_non_lue` (a filing announced by the registry for THIS unit could not be stored — serving the list would silently truncate it; the trace heals on the next successful read)."}}}},"/v1/eu/entreprise/SK/{ico}/comptes/{date_cloture}":{"get":{"summary":"One Slovak fiscal year decoded from the structured RÚZ filing","x-price":"$0.03","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"ico","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{8}$"},"example":"36417475","description":"8-digit Slovak IČO"},{"name":"date_cloture","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"example":"2025-12-31","description":"Closing date (YYYY-MM-DD) from the filings-list endpoint"},{"name":"perimetre","in":"query","required":false,"schema":{"type":"string","enum":["statutaire","consolide"]},"description":"Filing scope: statutory (default) or consolidated — never merged"},{"name":"type_depot","in":"query","required":false,"schema":{"type":"string"},"example":"Mimoriadna","description":"Filing type, copied from the `type_depot` field of the filings list (Riadna, Mimoriadna, Priebežná, Kombinovaná — as published by the register, never invented). Two filings may share one closing date and scope (an ordinary and an extraordinary one, e.g. a merger mid-year); this selects which. Omitted: the ordinary (Riadna) filing is served"}],"responses":{"200":{"description":"16 key items — net turnover (null = not published, never zero), operating income and costs, value added, staff costs, operating, financial, pre-tax and net result, income tax, total assets, non-current and current assets, equity, share capital, liabilities — plus prior-year comparatives as published in the same filing. Amounts in euros, never converted. Official document link included. The filing served is the one identified by (closing date, `perimetre`, `type_depot`) — filings are never merged across scope or type.","content":{"application/json":{"example":{"pays":"SK","id_national":"36417475","date_cloture":"2025-12-31","perimetre":"statutaire","exercice":{"date_cloture":"2025-12-31","denomination":"PODLAHY RK, s. r. o.","chiffre_affaires":11764975,"resultat_exploitation":940907,"resultat_net":616746,"total_actif":7586344,"capitaux_propres":2978726,"dettes":4607618,"unite_montants":null,"exercice_precedent":{"chiffre_affaires":11207975,"resultat_net":511649}},"source":"Register účtovných závierok (RÚZ) — Ministerstvo financií SR, registeruz.sk, open API publique","licence":"CC0 (RÚZ Open API, Ministerstvo financií SR)"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."},"503":{"description":"Not charged. Codes: `collecte_en_cours` (no complete pass succeeded yet — retrying does not help), `photo_perimee` (stock older than its freshness guard), `zavierka_non_lue` (a filing announced by the registry for THIS unit could not be stored — serving the list would silently truncate it; the trace heals on the next successful read)."}}}},"/v1/eu/entreprise/GB/{company_number}/comptes":{"get":{"summary":"UK company accounts filings list — financial years decoded from iXBRL accounts (Companies House)","x-price":"$0.01","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"company_number","in":"path","required":true,"schema":{"type":"string","pattern":"^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$"},"example":"00095407","description":"Companies House company number, 8 characters incl. leading zeros (00095407, SC123456, OC427207)"}],"responses":{"200":{"description":"The balance-sheet dates whose iXBRL annual accounts have been decoded, with period, entity name, currency, accounting framework and accounts type. Electronically filed accounts only (~75% of UK filings), depth accumulated since 2026-07 (the daily source file is retained 60 days) — absence does not mean no accounts exist. Open Government Licence v3.0.","content":{"application/json":{"example":{"pays":"GB","id_national":"00095407","nombre_depots":1,"depots":[{"date_cloture":"2025-12-31","debut_exercice":"2025-01-01","denomination":"COSSART,GORDON AND CO.LIMITED","devise":"GBP","referentiel":"Micro-entities","type_comptes":"FullAccounts","nb_postes_decodes":14,"nb_postes_courant":7}],"telechargement":"GET /v1/eu/entreprise/GB/{company_number}/comptes/{date_cloture}","source":"Companies House — Free Accounts Data Product (download.companieshouse.gov.uk)","licence":"Contains public sector information licensed under the Open Government Licence v3.0 (Companies House)","disclaimer":"Postes décodés des comptes annuels déposés en iXBRL à Companies House"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/eu/entreprise/GB/{company_number}/comptes/{date_cloture}":{"get":{"summary":"One UK financial year decoded from the iXBRL accounts filed at Companies House","x-price":"$0.05","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"company_number","in":"path","required":true,"schema":{"type":"string","pattern":"^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$"},"example":"00095407","description":"Companies House company number, 8 characters incl. leading zeros"},{"name":"date_cloture","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"example":"2025-12-31","description":"Balance-sheet date (YYYY-MM-DD) from the filings-list endpoint"}],"responses":{"200":{"description":"Balance sheet (fixed and current assets, stocks, debtors, cash, creditors split by maturity, provisions, net assets, equity), average employees, and the profit and loss account when filed (turnover, operating, pre-tax and net result — most small companies file a balance sheet only), plus prior-year comparatives as published in the same filing. Amounts in the filing currency; null = not published, never zero.","content":{"application/json":{"example":{"pays":"GB","id_national":"07960839","date_cloture":"2026-03-31","exercice":{"date_cloture":"2026-03-31","denomination":"National Consortium For Examination Results CIC","devise":"GBP","referentiel":"SmallEntities","chiffre_affaires":2257340,"resultat_exploitation":144109,"resultat_net":141386,"dettes_non_ventilees":200582,"dettes_moins_un_an":null,"stocks":null,"exercice_precedent":{"chiffre_affaires":1941115,"resultat_net":-45647}},"source":"Companies House — Free Accounts Data Product (download.companieshouse.gov.uk)","licence":"Contains public sector information licensed under the Open Government Licence v3.0 (Companies House)"}}}},"400":{"$ref":"#/components/responses/Reponse400InvalidInput"},"402":{"$ref":"#/components/responses/Reponse402PaymentRequired"},"404":{"description":"No diffusible company for this SIREN."}}}},"/v1/intelligence/{siren}":{"get":{"summary":"Company intelligence report — every block cross-referenced, closed-list signals, rule-based verdict","x-price":"$1.00","x-payment":{"protocol":"x402","network":"eip155:8453"},"parameters":[{"name":"siren","in":"path","required":true,"schema":{"type":"string","pattern":"^\\d{9}$"},"example":"552032534","description":"9-digit SIREN"}],"responses":{"200":{"description":"Identity, officers, financials with 3-year trend, sector positioning (NAF benchmarks), failure-risk score, BODACC alerts, sanctions screening (6 lists, company + officers), procurement (French DECP + EU TED), IP, cached capital structure, industrial-risk synthesis (Se
[...]
